body {
  background-color: #333;
}

h1,
h2,
h5 {
  color: #5bc0de;
  font-family: 'Gloria Hallelujah', cursive;
}

.navbar {
  padding-bottom: 20px;
}

.navbar h1 {
  font-size: 44px;
}

.navbar-header {
  padding-bottom: 10px;
}


.nav li a{
  margin-top: 20px;
  color: #fff;
  font-family: 'Comfortaa', cursive;
}

.nav li a:hover {
  color: #ffff4d;
  background-color: #333;
  outline: none;
}

.nav li a:visited,
        a:active, 
        a:focus {
  background-color: #333;
  outline: none;
}

.icon-bar {
  background-color: #fff;
}

p,
.lead {
  color: #fff;
  font-family: 'Comfortaa', cursive;
}

.btn {
  font-family: 'Comfortaa', cursive;
  background-color: #5bc0de;
  color: #fff;
}

.social {
  padding-top: 30px;
}

.social a{
  padding: 10px;
}

/*.footer {
  padding-top: 80px;
}*/

/*projects page*/
.thumbnail {
  background-color: #333;
  margin-top: 40px;
  border: none;
}

.thumbnail img {
  height: 300px;
  width: 500px;
}

.caption h3 a {
  font-family: 'Comfortaa', cursive;
  color: #5bc0de;
}

.caption p {
  font-size: 18px;
}