/*
 * Globals
 */

body {
font-family: 'Comfortaa', cursive;
background-color: #333;
}

body p,
body li {
  font-size: 18px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
  color: #fff;
}


/*
 * Override Bootstrap's default container.
 */

/*@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}*/




/*
 * Masthead for nav
 */

.resume-masthead {
  background-color: #5bc0de;
  height: 210px;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.resume-name {
  color: #fff;
  font-size: 80px;
  margin-left: 30%;
  margin-top: 40px;
}

/* Nav links */

.resume-nav {
  /*padding-left: 0px;*/
  margin-left: 13%;
  padding-top: 50px;
  font-size: 20px;
}

.resume-nav li {
  display: inline-block;
  padding: 5px;
  color: #fff;
}

.resume-nav a {
  color: #fff;
}

.resume-nav a:hover,
.resume-nav a:focus {
  color: #5bc0de;
  text-decoration: none;
}






/*
 * resume name and description
 */

/*.resume-header {
  padding-top: 20px;
  padding-bottom: 20px;
}*/
/*.resume-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: normal;
  border-bottom: 2px solid;
  border-bottom-color: #5bc0de;
}*/
/*.resume-description {
  font-size: 20px;
  color: #fff;
  border-bottom: 2px solid;
  border-bottom-color: #5bc0de;
  border-bottom-width: 780px; 
}*/

.row {
  padding-top: 50px;
}

/*.resume-main {
  font-size: 18px;
  line-height: 1.5;
}*/

.resume-post {
  margin-bottom: 60px;
  color: gray;
}

.resume-post-title {
  color: #5bc0de;
  margin-bottom: 5px;
  font-size: 24px;
  border-bottom: 2px solid;
  border-bottom-color: #5bc0de; 
}

.resume-post-position{
  font-size: 20px;
  font-style: italic;
} 

.resume-post-company {
  font-size: 18px;
  font-style: italic;
}


/*
 * Sidebar layout
 */
.sidebar-post {
  font-family: 'Comfortaa', cursive;
  padding-bottom: 50px;
}

.sidebar-post strong {
  color: #fff;
  font-size: 16px;
}

.sidebar-post p {
  color: gray;
}

.sidebar-post-title {
  color: #5bc0de;
  margin-bottom: 5px;
  font-size: 24px;
  border-bottom: 2px solid;
  border-bottom-color: #5bc0de;
}

.sidebar-post-subtitle {
  font-size: 20px;
  font-style: italic;
} 
.sidebar-post-subtitle-sub {
  font-size: 16px;
  font-style: italic;
}

.sidebar-post-subtitle a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.sidebar-post-subtitle a:hover {
  text-decoration: underline;
  text-decoration-color: #fff; 
}


/*
 * Footer
 */

/*.resume-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.resume-footer p:last-child {
  margin-bottom: 0;
}*/
