body {
	background: #33ccff
}

#header_photo {
	float: left;
	margin-top: -10px;
	margin-left: 30px;
	margin-right: 30px
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lucida Console", Monaco, monospace;
	font-style: normal;
	padding: 10px;
	color: #FFFF99
}

h1 {
	margin-top: 100px;
	margin-bottom: 60px;
	padding: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 48px;
}

section {
	margin-top: 220px;
	margin-left: 30px;
	padding: 10px;
}

h6 {
	margin-left: 30px
}

.contacts {
	margin-top:20px;
	padding-left: 10px
}